<div class="comment" data-controller="reply">
  <div class="comment-body">
    <%= comment.body %>
  </div>

  <div class="comment-metadata">
    <%= comment.created_at %> |
    <%= link_to 'Reply', new_comment_comment_path(comment), remote: true, data: { action: 'ajax:success->reply#onNewForm' } %>
  </div>
  <div data-target="reply.form"></div>

  <div class="comments">
    <%= render comment.comments %>
  </div>
</div>
